################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/beqom.challenge/.vs
/beqom.challenge/beqom.monad/bin/Debug/net8.0
/beqom.challenge/beqom.monad/obj
/beqom.challenge/beqom.unit.tests/bin/Debug/net8.0
/beqom.challenge/beqom.unit.tests/obj/Debug/net8.0
/beqom.challenge/beqom.unit.tests/obj
